---
---

////////////////////////////////
    //Variables//
////////////////////////////////

// Colors

$black: #4a4a4a;
$white: #fff;
$blue: #1DADE9;
$dark-blue: #3b5864;
$yellow-background: #f9d05d;
$blue-background: #30608a;

// Fonts

$font-body: 'Nunito Sans', sans-serif;

// Breakpoints

$xs: 600px;
$sm: 768px;
$md: 960px;
$lg: 1220px;


////////////////////////////////
    //General//
////////////////////////////////

html {
  font: normal 16px $font-body;
}

body {
  margin-top: 35px;
  color: $black;
  line-height: 1.4;
  font-family: $font-body;
  font-weight: 400;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-body;
  font-weight: 900;
  line-height: 1.4;
}

h2 {
  margin: 0 0 24px 0;
  font-size: 42px;
}

p { margin: 0 0 1em 0; }

h1.logo {
  text-indent: -9999px;
  width: 230px;
  height: 230px;
  background: url('../img/logo.png') 50% 50% no-repeat;
}

#home-section {
  h1.logo { margin: 0 auto; }

  .main-menu {
    margin: 0 auto 60px auto;
    width: inherit;
  }

  figure.schedule-copy {
    padding-top: 234px;
    padding-bottom: 34px;
    text-indent: -120px;
    background: #f6f6f6;

    p:before {
      content: '';
      display: inline-block;
      position: relative;
      top: -3px;
      margin-right: 18px;
      width: 82px;
      height: 3px;
      background: #979797;
    }
  }
}
