html {
  font: normal 16px "Nunito Sans", sans-serif; }

body {
  margin-top: 35px;
  color: #4a4a4a;
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  background: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 0.8em; }

h2 {
  margin: 0 0 24px 0;
  font-size: 72px; }

h3 {
  font-size: 20px;
  line-height: 1em; }
  h3:after {
    content: '';
    display: block;
    margin-top: 0.2em;
    width: 62px;
    height: 3px;
    background: #4a4a4a; }

p {
  margin: 0 0 1em 0; }

.uk-button {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  color: #22af60;
  border-radius: 0;
  border: 2px solid #22af60;
  background: white; }

.uk-button:hover {
  background: #22af60;
  border-color: #22af60;
  color: #FFFFFF; }

.uk-button-primary {
  color: #FFFFFF;
  background: #22af60; }

.uk-button-primary:hover {
  background: #FFFFFF;
  border-color: #22af60;
  color: #22af60; }

.uk-container {
  max-width: 834px;
  min-width: 360px; }

.no-overflow {
  overflow: hidden; }

.activity-slider .uk-cover-background {
  height: 100%; }
.activity-slider h3 {
  position: relative;
  left: -2.5em;
  margin-top: 1em;
  color: black;
  text-shadow: 2px 0 rgba(255, 255, 255, 0.5); }
.activity-slider .uk-button {
  width: 100%;
  max-width: 246px; }
@media (max-width: 768px) {
  .activity-slider .uk-cover-background {
    min-height: 300px; }
  .activity-slider h3 {
    left: 0; } }

.call-to-action {
  width: 100%;
  min-width: 140px;
  max-width: 262px;
  line-height: 0; }
  .call-to-action .uk-button {
    display: block;
    margin-top: 1em; }
  @media (max-width: 768px) {
    .call-to-action {
      max-width: 180px; } }

.location-and-date-copy {
  padding-left: 120px;
  min-width: 714px;
  font-size: 3.5vw; }
  .location-and-date-copy h2 {
    margin: 0;
    font-size: 75%;
    font-weight: 800; }
  .location-and-date-copy p {
    font-size: 40%; }
  .location-and-date-copy h2 + h2 {
    margin: 0.3em 0; }
  .location-and-date-copy p.dashed {
    position: relative;
    padding-left: calc(78px + 16px); }
    .location-and-date-copy p.dashed:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 78px;
      height: 3px;
      background: #979797; }
  .location-and-date-copy p.date {
    text-transform: uppercase; }
  @media (max-width: 768px) {
    .location-and-date-copy {
      padding-left: 0;
      min-width: 100%;
      font-size: 38px; }
      .location-and-date-copy p.dashed {
        padding-left: calc(58px + 16px); }
        .location-and-date-copy p.dashed:before {
          width: 58px; } }

h1.logo {
  position: relative;
  text-indent: -9999px;
  width: 150px;
  height: 150px;
  background: url(../img/logo.png) 50% 50% no-repeat;
  z-index: 1;
  background-size: 150px; }

.main-menu {
  display: none;
  margin: 0 auto 60px auto; }
  .main-menu ul li a {
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0 !important; }
    .main-menu ul li a:hover {
      background: none;
      border-bottom: 2px solid #44ad5e; }
  @media (max-width: 768px) {
    .main-menu {
      margin-bottom: 100px; } }

#home-page {
  /* ------------------- Keynote Speakers ------------------- */ }
  #home-page .hero-container {
    position: relative;
    margin-bottom: 80px; }
    #home-page .hero-container .uk-grid {
      position: relative;
      z-index: 1; }
    #home-page .hero-container .hero-cover {
      position: absolute;
      left: calc(36% + 10px);
      bottom: 0;
      width: 100%;
      min-height: 378px;
      background: url("../../img/home/hero-cover-min.png") 0 0 no-repeat;
      background-size: auto; }
  #home-page .location-and-date-copy {
    margin-top: 35px;
    margin-bottom: 35px; }
  #home-page .about-pycaribbean {
    margin-bottom: 50px; }
    #home-page .about-pycaribbean h3:after {
      background-color: #22af60; }
    #home-page .about-pycaribbean p {
      color: #9b9b9b; }
  #home-page .about-pycaribbean {
    margin-bottom: 50px; }
    #home-page .about-pycaribbean h3:after {
      background-color: #22af60; }
    #home-page .about-pycaribbean p {
      color: #9b9b9b; }
  #home-page h3:after {
    background-color: #22af60; }
  #home-page .keynote-speakers {
    margin-bottom: 56px; }
    #home-page .keynote-speakers h3:after {
      margin-top: 0.5em;
      background-color: #D97928; }
    #home-page .keynote-speakers .lecturer-description {
      opacity: 0;
      top: 150px;
      padding: 7px;
      position: absolute;
      font-size: 12px;
      transition: all 0.35s ease !important; }
    #home-page .keynote-speakers .lecturer {
      width: 194px;
      height: 310px;
      border: solid 1px #D8D8D8;
      position: relative;
      overflow: hidden;
      margin-top: 20px; }
      #home-page .keynote-speakers .lecturer:hover .lecturer-description {
        opacity: 1;
        position: absolute;
        top: 0; }
      #home-page .keynote-speakers .lecturer .lecturer-picture {
        margin-bottom: 10px; }
      #home-page .keynote-speakers .lecturer .lecturer-name {
        background: #fff;
        height: 35px;
        width: 170px;
        position: absolute;
        bottom: 0;
        padding: 11px 7px 7px 7px; }
      #home-page .keynote-speakers .lecturer .lecturer-description {
        background: #fff;
        padding: 18px;
        height: 274px; }
        #home-page .keynote-speakers .lecturer .lecturer-description p {
          font-size: 13px; }
      #home-page .keynote-speakers .lecturer h4 {
        margin: 0;
        margin-bottom: 7px; }
      #home-page .keynote-speakers .lecturer h6 {
        margin: 0;
        color: #9b9b9b; }
      #home-page .keynote-speakers .lecturer .social-icons {
        position: absolute;
        bottom: 13px;
        right: 13px; }
        #home-page .keynote-speakers .lecturer .social-icons .web-icon, #home-page .keynote-speakers .lecturer .social-icons .tw-icon {
          display: inline-block;
          color: #9B9B9B;
          width: 25px;
          height: 25px;
          float: right;
          margin-left: 7px;
          font-size: 23px;
          opacity: 1;
          transition: all 0.31s ease !important; }
          #home-page .keynote-speakers .lecturer .social-icons .web-icon:hover, #home-page .keynote-speakers .lecturer .social-icons .tw-icon:hover {
            opacity: 0.5; }
  #home-page .gray-wrapper {
    background-attachment: #ccc; }
  #home-page .speak-low {
    font-size: 10px; }
  #home-page .other-activities {
    margin-bottom: 56px; }
    #home-page .other-activities h3:after {
      margin-top: 0.5em;
      background-color: #D97928; }
  @media (max-width: 768px) {
    #home-page .hero-container {
      padding-bottom: 12px; }
      #home-page .hero-container .hero-cover {
        bottom: -40px;
        left: 28%;
        background-position-x: left; } }

.activity-slider {
  margin-bottom: 50px; }

.d1 {
  background: pink;
  min-height: 33px; }

.d2 {
  background: yellow;
  min-height: 33px; }

.d3 {
  background: #15ff00;
  min-height: 33px; }

.d4 {
  background: orange;
  min-height: 33px; }

/*--------------------------- OUR SPONSOR -----------------------------*/
.sponsors li {
  width: 150px;
  height: 150px;
  float: left; }
  .sponsors li img {
    width: 100%; }

/*--------------------------- FOOTER ---------------------------------*/
footer {
  margin-top: 40px; }
  footer .footer-top {
    background: #F5F5F5;
    padding-bottom: 45px;
    padding-top: 45px; }
  footer .footer-botton {
    background: #fff; }
  footer h3:after {
    margin-top: 0.5em;
    background-color: #D97928; }
  footer .sponsors {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer .sponsors li {
      /* border-left: solid 1px #ccc; */ }
  footer ul {
    list-style: none;
    pad: 0;
    margin: 0; }
  footer .uk-icon-heart {
    margin: 0 7px;
    color: #D97928; }
  footer .footer-logo {
    width: 120px;
    display: block;
    margin: 0 auto;
    padding-bottom: 35px; }
  footer .social-icon {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px; }
    footer .social-icon a {
      color: #9B9B9B;
      margin: 0 5px; }
  footer .developed-by {
    margin: 5px; }

.footer-nav {
  border-bottom: solid 6px #F7F7F7;
  overflow: hidden;
  padding: 25px 0;
  margin-bottom: 34px;
  width: 250px;
  margin: 0 auto 30px auto; }
  .footer-nav li {
    width: 50%;
    float: left;
    text-align: center; }
    .footer-nav li a {
      color: #4A4A4A;
      margin-bottom: 7px;
      display: block; }

/*------------- PROPERTY LIST -------------------------------------*/
@media only screen and (min-width: 250px) and (max-width: 457px) {
  h1.logo {
    border: solid 3px #9dff00 !important; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  h1.logo {
    border: solid 3px red !important; } }
@media screen and (max-width: 767px) {
  h1.logo {
    border: solid 5px purple; } }
@media screen and (min-width: 768px) {
  h1.logoi {
    border: solid 9px #50eb90; }

  h3 {
    font-size: 24px; }

  /*----------- FOOTER ------------*/
  footer .footer-top {
    padding-top: 45px;
    padding-bottom: 45px; }
  footer .footer-botton {
    background: #fff; }
    footer .footer-botton .footer-nav {
      border-bottom: none;
      overflow: hidden;
      padding: 25px 0 0 0;
      margin-bottom: 0;
      width: auto;
      margin: 0; }
      footer .footer-botton .footer-nav li {
        width: auto;
        float: left;
        padding: 0 18px 0 0; }
    footer .footer-botton .social-icon {
      text-align: left;
      font-size: 28px;
      margin-bottom: 20px; }
    footer .footer-botton .fa {
      font-size: 21px !important; }
  footer .uk-text-center.developed-by {
    text-align: left !important;
    margin-top: 0 !important; }
  footer .developed-by {
    margin-left: 0 !important; }
  footer .footer-logo {
    width: 180px;
    padding-bottom: 37px;
    float: right;
    margin-top: -199px; } }
@media screen and (min-width: 992px) {
  h1.logo {
    border: solid 3px #9e90ee; } }
@media screen and (min-width: 1200px) {
  h1.logo {
    border: solid 3px #e5ee90; } }

/*# sourceMappingURL=main.css.map */
