.uk-button {
  text-shadow: none; }

.button-red {
  background-color: #C12127;
  border-color: #C12127;
  color: #fff;
  padding: 5px 20px; }
  .button-red:hover {
    background-color: #80161a !important;
    border-color: #80161a !important;
    color: #fff; }

a {
  color: #FFC933; }

html {
  font: normal 16px "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 300; }

body {
  color: #000;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.4; }

.hero {
  height: 800px;
  background: url("../img/cover2.jpg") no-repeat;
  color: #fff;
  background-size: cover; }
  .hero h1 {
    margin-top: 50px;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 2px 0px #333;
    margin-bottom: 0; }
    .hero h1 img {
      height: 250px; }
  .hero h3, .hero h2 {
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 2px 0px #333; }
  .hero h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; }
  .hero h3 {
    font-size: 30px; }
  .hero #mc_embed_signup form {
    text-align: center; }
  .hero #mc_embed_signup .mc-field-group input {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    height: 40px;
    padding: 4px 6px;
    background: #fff;
    color: #333;
    font-size: 16px;
    width: 300px;
    display: inline-block;
    margin-right: -5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .hero #mc_embed_signup .mc-field-group .button-red {
    background: #C12127;
    display: inline-block;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    padding: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .hero #mce-success-response,
  .hero #mce-error-response {
    display: none !important; }

.venue {
  pointer-events: none; }
  .venue a[href="http://maps-website.com/"] {
    color: #fff; }

.proposals {
  padding: 50px;
  background-color: #022646;
  color: #fff; }
  .proposals h1, .proposals h2 {
    color: #fff; }

.sponsors {
  padding: 50px;
  padding-bottom: 200px; }
  .sponsors ul {
    padding: 0;
    margin: 0; }
    .sponsors ul li {
      list-style-type: none;
      display: inline-block;
      width: 200px; }

.tickets {
  padding: 50px; }

.conduct {
  padding: 50px;
  background-color: #022646;
  color: #fff;
  text-align: justify; }
  .conduct h1, .conduct h2 {
    color: #fff; }

footer {
  padding: 50px;
  background-color: #000;
  color: #fff; }
  footer h1 {
    color: #fff;
    font-weight: normal; }
  footer ul {
    padding: 0;
    margin: 0; }
    footer ul li {
      list-style-type: none;
      display: inline-block;
      margin: 10px; }
      footer ul li a {
        color: #fff;
        font-size: 50px; }
        footer ul li a:hover {
          color: #C12127; }
