---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


////////////////////////////////
		//Variables//
////////////////////////////////

// Colors

$black: #000;
$white: #fff;
$blue: #00dbff;
$dark-blue: #3b5864;


// Fonts

$font-body: 'Lato', sans-serif;
$font-header: 'novecento_sans_widelight', sans-serif;

@font-face {
    font-family: 'novecento_sans_widelight';
    src: url('../fonts/novecento-webfont.eot');
    src: url('../fonts/novecento-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecento-webfont.woff2') format('woff2'),
         url('../fonts/novecento-webfont.woff') format('woff'),
         url('../fonts/novecento-webfont.ttf') format('truetype'),
         url('../fonts/novecento-webfont.svg#novecento_sans_widelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Breakpoints

$xs: 600px;
$sm: 768px;
$md: 960px;
$lg: 1220px;


////////////////////////////////
		//General//
////////////////////////////////

html {
	font: normal 16px $font-body;
}

body {
	color: $black;
	line-height: 1.4;
	font-family: $font-body;
	font-weight: 400;
	background: $white;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: $font-header;
  	line-height: 1.4;
}

////////////////////////////////
		//Homepage//
////////////////////////////////

.hero {
  background: url('../img/hero.png')  no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding: 50px 0px 0px;
  border-bottom: 5px solid #344753;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
  }
  .hero-content {
      z-index: 2;
      position: relative;
  }
  .hero-menu {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        a {
          color: $blue;
          text-transform: uppercase;
        }
      }
    }
  }
  .hero-social {
    float: right;
    position: relative;
    top: -25px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        a {
          color: $white;
          font-size: 20px;
        }
      }
    }
  }
  .hero-logo {
    text-align: center;
    margin: 50px 0px;
    display: inline-block;
    img {
      height: 200px;
    }
  }
  h2 {
    font-family: $font-body;
    color: $white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  h3 {
    font-family: $font-body;
    color: $white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .btn-hero {
    background: transparent;
    padding: 10px 50px;
    border: 2px solid $white;
    border-radius: 40px/30px;
    text-transform: uppercase;
    color: $white;
    margin-top: 30px;
    display: inline-block;
  }
}

.about {
  background: $dark-blue;
  padding: 50px 0px 200px;
  .about-menu {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        a {
          color: $blue;
          text-transform: uppercase;
        }
      }
    }
  }
  h2 {
    color: $white;
    font-size: 60px;
    margin-top: 100px;
  }
  p {
    color: $white;
    font-weight: 300;
    font-size: 24px;
    padding: 0px 100px;
    @media (max-width: $sm) {
      padding: 0px;
    }
  }
}
