/*------------- PROPERTY LIST -------------------------------------*/


@media screen and (min-width: 768px) {
    h3 {
        font-size: 24px;
    }
    /*----------- FOOTER ------------*/
    footer {
        .footer-top {
            padding-top: 45px;
            padding-bottom: 45px;
        }
        .footer-botton {
            background: #fff;
            .footer-nav {
                border-bottom: none;
                overflow: hidden;
                padding: 25px 0 0 0;
                margin-bottom:0;
                width: auto;
                margin: 0;
                li {
                    width: auto;
                    float: left;
                    padding: 0 18px 0 0;
                }
            }
            .social-icon {
                text-align: left;
                font-size: 28px;
                margin-bottom: 20px;
            }
            .fa{
                font-size: 21px !important;
            }
        }
        .uk-text-center.developed-by{
            text-align: left !important;
            margin-top: 0 !important;
        }
        .developed-by {
            margin-left: 0 !important;
        }
        .footer-logo {
            width: 180px;
            padding-bottom: 37px;
            float: right;
            margin-top: -199px;
        }
    }
}