
////////////////////////////////
		//Variables//
////////////////////////////////

// Colors

$black: #000
$white: #fff
$blue: #2980b9
$dark-blue: #022646
$red: #C12127
$grey: #898989



// Fonts

$font-body: 'Open Sans', sans-serif
$font-header: 'Lato', sans-serif

// Breakpoints

$xs: 600px
$sm: 768px
$md: 960px
$lg: 1170px

.uk-button
	text-shadow: none

.button-red
	background-color: $red
	border-color: $red
	color: $white
	padding: 5px 20px
	&:hover
		background-color: darken($red, 15%) !important
		border-color: darken($red, 15%) !important
		color: $white

a
	color: #000

////////////////////////////////
		//Ge`neral//
////////////////////////////////

html
	font: normal 16px $font-body
	line-height: 1.4
	font-weight: 300

body
	color: $black
	line-height: 1.4
	font-family: $font-body
	font-weight: 400


h1, h2, h3, h4, h5, h6
	font-family: $font-header
	line-height: 1.4

////////////////////////////////
		//Homepage//
////////////////////////////////

.hero
	height: 100vh
	background: url('../img/cover2.jpg') no-repeat
	color: $white
	background-size: cover

	h1
		margin-top: 100px
		font-size: 80px
		color: $white

	h3
		color: $white


.proposals
	padding: 50px
	background-color: $dark-blue
	color: $white

	.proposals-content
		// padding: 0px 100px
	h1, h2
		color: $white


.conduct
	padding: 50px
	background-color: $dark-blue
	color: $white
	text-align: justify
	h1, h2
		color: $white

footer
	padding: 50px
	background-color: #000
	color: $white
	h1
		color: $white
		font-weight: normal

	ul
		padding: 0
		margin: 0
		li
			list-style-type: none
			display: inline-block
			margin: 10px
			a
				color: $white
				font-size: 50px
				&:hover
					color: $red
