<footer>
        <div class="uk-container uk-container-center">
            <div class="uk-width-small-1-1 uk-text-center">
                <h1>Contact us</h1>
                <ul>
                    <li><a href="https://www.facebook.com/pycaribbean"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/pycaribbean"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://instagram.com/pycaribbeanconf/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="mailto:info@pycaribbean.com"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
