<div id="off-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
          <li><a href="/hotels">Hotels</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="http://pycaribbean2017.eventbrite.com/">Tickets</a></li>
        </ul>
    </div>
</div>


<footer>
    <div class="footer-top">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-1">
                    <h3>Our Sponsors</h3>
                </div>
                <div class="uk-width-1">
                        <ul class="sponsors">
                            <li><img src="img/sponsors/micm-sponsor.jpg"></li>
                            <li><img src="img/sponsors/pyhex-sponsor.jpg"></li>
                            <li><img src="img/sponsors/python-sponsor.jpg"></li>
                            <li><img src="img/sponsors/codetiger-sponsor.jpg"></li>
                            <li><img src="img/sponsors/splice-sponsor.jpg"></li>
                            <li><img src="img/sponsors/jet-brains-sponsor.jpg"></li>
                            <li><img src="img/sponsors/no-starch-sponsor.png"></li>
                            <li><img src="img/sponsors/marcos-sponsor.png"></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-botton">
        <div class="uk-container uk-container-center">
            <ul class="footer-nav">
            <!-- <li><a href="#">tickets</a></li>
                <li><a href="#">schedule</a></li>
                <li><a href="#">hotels</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">speak</a></li>
                <li><a href="#">sponsor</a></li>-->
            </ul>
            <p class="uk-text-center developed-by">Made with <i class="uk-icon-heart"></i> by Codetiger</p>
            <div class="social-icon">
                <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="ins"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <div class="footer-logo">
                <img src="img/logo.png">
            </div>
        </div>
    </div>
</footer>


    <!-- slider JS files -->

    <script class="rs-file" src="js/royal-slider/templates/assets/royalslider/jquery-1.8.3.min.js"></script>
    <script class="rs-file" src="js/royal-slider/templates/assets/royalslider/jquery.royalslider.min.js"></script>
    <link class="rs-file" href="js/royal-slider/templates/assets/royalslider/royalslider.css" rel="stylesheet">
    <!-- syntax highlighter -->
    <script src="js/royal-slider/templates/assets/preview-assets/js/highlight.pack.js"></script>
    <script> hljs.initHighlightingOnLoad();</script>

    <!-- preview-related stylesheets -->
    <link href="js/royal-slider/templates/assets/preview-assets/css/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet">
    <link href="js/royal-slider/templates/assets/preview-assets/css/github.css" rel="stylesheet">

    <!-- slider stylesheets -->
    <link class="rs-file" href="js/royal-slider/templates/assets/royalslider/skins/minimal-white/rs-minimal-white.css" rel="stylesheet">


    <script id="addJS">jQuery(document).ready(function($) {
	  jQuery.rsCSS3Easing.easeOutBack = 'cubic-bezier(0.175, 0.885, 0.320, 1.275)';
	  $('#slider-with-blocks-1').royalSlider({
		arrowsNav: false,
		arrowsNavAutoHide: false,
		fadeinLoadedSlide: false,
		controlNavigationSpacing: 0,
		controlNavigation: 'bullets',
		imageScaleMode: 'none',
		imageAlignCenter:false,
		blockLoop: true,
		loop: true,
		numImagesToPreload: 6,
		transitionType: 'slide',
		keyboardNavEnabled: true,
		block: {
		  delay: 400
		}
	  });
	});
	</script>
