<div id="off-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
          <li><a href="">About</a></li>
          <li><a href="">App Guide</a></li>
          <li><a href="">Schedule</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="">Sponsors</a></li>
          <li><a href="">Venue</a></li>
          <li><a href="">Tickets</a></li>
          <li><a href="">Other Events</a></li>
        </ul>
    </div>
</div>
