<nav class="uk-navbar">
    <a href="/" class="uk-navbar-brand uk-float-left">PyCaribbean 2017</a>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <!-- <li><a href="">About</a></li>
            <li><a href="">App Guide</a></li>
            <li><a href="">Schedule</a></li> -->
            <li><a href="/code-of-conduct">Code of Conduct</a></li>
            <li><a href="/#sponsors">Sponsors</a></li>
            <!-- <li><a href="">Venue</a></li> -->
            <li><a href="">Tickets</a></li>
            <!-- <li><a href="">Other Events</a></li> -->
        </ul>
    </div>
      <a href="#off-menu" class="uk-navbar-toggle uk-float-right" data-uk-offcanvas></a>
</nav>
