<!--<nav class="uk-navbar">-->
  <!--<div class="uk-container uk-container-center">-->
    <!--<div class="uk-grid">-->
      <!--<div class="uk-width-small-1-1">-->
          <!--<a href="/" class="uk-navbar-brand uk-float-left">PyCaribbean 2019</a>-->
          <!--<a href="#off-menu" class="uk-navbar-toggle" class="uk-float-left" data-uk-offcanvas></a>-->
          <!--<div class="uk-navbar-flip">-->
            <!--<ul class="uk-navbar-nav">-->
	      <!--<li class="hotels"><a href="hotels">Hotels</a></li>-->
	      <!--&lt;!&ndash;<li class="speakers"><a href="/schedule">Schedule</a></li>&ndash;&gt;-->
              <!--<li class="code-of-conduct"><a href="/code-of-conduct">Code of Conduct</a></li>-->
              <!--<li><a href="https://www.facebook.com/pycaribbean"><i class="uk-icon-facebook"></i></a></li>-->
              <!--<li><a href="https://twitter.com/pycaribbean"><i class="uk-icon-twitter"></i></a></li>-->
              <!--<li><a href="https://instagram.com/pycaribbeanconf/"><i class="uk-icon-instagram"></i></a></li>-->
            <!--</ul>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


  <div class="hero-container">
    <div class="uk-grid">
      <div class="uk-width-medium-4-10">
        <h1 class="logo"><a href="index.html">PyCaribbean 2019</a></h1>

        <div class="location-and-date-copy">
          <h2>Santo Domingo</h2>
          <h2>Dominican Republic</h2>

          <p class="dashed">The premiere Python conference of the Caribbean</p>

          <p class="date">16-17 February, 2019</p>
        </div>
        <div class="call-to-action">
          <a class="uk-button uk-button-primary" href="https://www.eventbrite.com/e/pycaribbean-2019-tickets-52425830069">
           Get Tickets
          </a>

          <a class="uk-button" href="/hotels/">
           Book a Hotel room
	      </a>
        </div>
      </div>

    <div class="hero-cover"></div>
  </div>
  </div>