<nav class="uk-navbar" data-uk-sticky>
    <a href="/" class="uk-navbar-brand">PyCaribbean</a>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav">
            <li><a href="/#sponsors">Sponsors</a></li>
            <li class="uk-parent" data-uk-dropdown>
              <a href="/#venue">Venue</a>
              <div class="uk-dropdown uk-dropdown-navbar">
                  <ul class="uk-nav uk-nav-navbar">
                      <li><a href="/traveling.html">Traveling to Santo Domingo</a></li>
                      <li><a href="/hotels.html">Hotels</a></li>
                      <li><a href="/places-to-visit.html">Places to Visit</a></li>
                  </ul>
              </div>
            </li>
            <!-- <li><a href="/#tickets">Tickets</a></li> -->
            <li class="uk-parent" data-uk-dropdown>
              <a href="/#tickets">Tickets</a>
              <div class="uk-dropdown uk-dropdown-navbar">
                  <ul class="uk-nav uk-nav-navbar">
                      <li><a href="https://www.eventbrite.com/e/pycaribbean-tickets-19120486891">Main Event</a></li>
                      <li><a href="http://bit.ly/PyCaribbeanDinner">Special Dinner</a></li>
                      <li><a href="http://bit.ly/PyCaribbeanBeachTrip">Beach Trip</a></li>
                  </ul>
              </div>
            </li>
            <li><a href="https://guidebook.com/g/PyCaribbean/">Web Guide</a></li>
            <li><a href="http://bit.ly/PyCaribbeanLightningTalks">Lightning Talks</a></li>
            <li><a href="/schedule.html">Schedule</a></li>
            <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
    </div>
    <div class="uk-navbar-flip uk-visible-small ">
        <ul class="uk-navbar-nav">
            <a href="#off-menu" class="uk-navbar-toggle" data-uk-offcanvas></a>
        </ul>
    </div>

</nav>

<div id="off-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
          <li><a href="http://pycaribbean.com/#sponsors">Sponsors</a></li>
          <li><a href="http://pycaribbean.com/#venue">Venue</a></li>
          <li><a href="/traveling.html">Traveling to Santo Domingo</a></li>
          <li><a href="/hotels.html">Hotels</a></li>
          <li><a href="/places-to-visit.html">Places to Visit</a></li>
          <li><a href="http://pycaribbean.com/#tickets">Tickets</a></li>
          <li><a href="http://bit.ly/PyCaribbeanRoomSharing">Room Sharing</a></li>
          <li><a href="https://guidebook.com/g/PyCaribbean/">Web Guide</a></li>
          <li><a href="http://bit.ly/PyCaribbeanLightningTalks">Lightning Talks</a></li>
          <li><a href="/schedule.html">Schedule</a></li>
          <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
        </ul>
    </div>
</div>
