<nav class="uk-navbar">
<div class="uk-container uk-container-center">
    <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
        <li class="uk-active"><a href="#home">Home</a></li>  
        <li><a href="#">Schedule</a></li>   
        <li><a href="#">Hotels</a></li>   
        <li><a href="#">About</a></li>    
        <li><a href="#">Speak</a></li>   
        <li><a href="#">Sponsor</a></li>  
        <li><a href="#">Tickets</a></li> 
    </ul>
    <div class="uk-navbar-flip">
    <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#my-id'}"></a>
    </div>
</div>
</nav>

<div id="my-id" class="uk-offcanvas">
<div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
        <li class="uk-active"><a href="#home"></a>Home</a></li>  
        <li><a href="#">Schedule</a></li>   
        <li><a href="#">Hotels</a></li>   
        <li><a href="#">About</a></li>    
        <li><a href="#">Speak</a></li>   
        <li><a href="#">Sponsor</a></li>  
        <li><a href="#">Tickets</a></li> 
    </ul>
</div>
</div>