{% assign url = page.url | remove:'/index.html' %}

<nav class="uk-navbar" >
    <div class="uk-container uk-container-center">
        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
            {% for link in site.data.menu_items.list %}
                <li {% if url == link.url %}class="uk-active"{% endif %}>
                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="uk-navbar-flip">
            <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#my-id'}"></a>
        </div>
    </div>
</nav>

<div id="my-id" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            {% for link in site.data.menu_items.list %}
                <li {% if url == link.url %}class="uk-active"{% endif %}>
                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>