<div id="slider-with-blocks-1" class="royalSlider rsMinW  ">
  <div class="rsContent slide1">
    <div class="bContainer">
      <strong class="rsABlock txtCent blockHeadline">This is an animated block</strong>
      <span class="rsABlock txtCent" data-move-effect="none">you can place it on any type of slide</span>
    </div>
  </div>
  <div class="rsContent slide2">
    <div class="bContainer">
      <strong class="rsABlock txtCent blockSubHeadline" data-move-effect="none">Transition Types</strong>
      <span class="rsABlock txtCent" data-move-effect="top" >from top  ↓</span>
      <span class="rsABlock txtCent" data-move-effect="bottom">from bottom ↑</span>
      <span class="rsABlock txtCent" data-move-effect="left">from left →</span>
      <span class="rsABlock txtCent" data-move-effect="right">from right ←</span>
      <span class="rsABlock txtCent" data-move-effect="none">just fade</span>
    </div>
  </div>
  <div class="rsContent slide3">
    <div class="bContainer">
      <strong class="rsABlock txtCent blockSubHeadline" data-move-effect="none"  data-delay="0">Customizable Animation</strong>
      <span class="rsABlock txtCent" data-move-effect="left" data-delay="1000" data-move-offset="500" data-easing="easeOutBack"  data-fade-effect="none">easing</span>
      <span class="rsABlock txtCent" data-move-effect="left" data-delay="1500" data-move-offset="500" data-fade-effect="none">delay</span>
      <span class="rsABlock txtCent" data-move-effect="left" data-delay="2000" data-move-offset="500" data-speed="1000" data-fade-effect="none">speed</span>
      <span class="rsABlock txtCent" data-move-effect="left" data-delay="2500" data-move-offset="50" data-fade-effect="true">move offset</span>
    </div>
  </div>
  <div class="rsContent slide4">
    <a class="rsImg" href="../js/royal-slider/templates/img/palmbw.jpg">palms & beach</a>
    <div class="bContainer">
      <strong class="rsABlock txtCent blockHeadline">Block may have any HTML</strong>
      <span class="rsABlock txtCent" data-move-effect="none">and can be placed on any slide type</span>
    </div>
    <img class="rsABlock palmImg" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="450" data-delay="350" data-speed="300" data-easing="easeOutBack" src="../js/royal-slider/templates/img/palms.png" data-rsw="707" data-rsh="471"/>
    <div class="photoCopy">Photo by <a href="http://photo.aphecetche.fr/">Laurent Aphecetche</a></div>
  </div>
</div>