// Colors

$black: #4a4a4a;
$white: #FFFFFF;
$grey: #9b9b9b;
$orange:#D97928;

$primary-color: #22af60;

// Fonts

$font-body: 'Nunito Sans', sans-serif;

// Breakpoints

$xxs: 360px;
$xs: 600px;
$sm: 768px;
$md: 960px;
$lg: 1220px;


// Layout

$max-container-width: 834px;
