.main-menu {
  display: none; // @TODO remove when main menu should be shown.
  margin: 0 auto 60px auto;

  ul li a {
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0 !important;

    &:hover {
      background: none;
      border-bottom: 2px solid #44ad5e;
    }
  }

  @media (max-width: $sm) {
    margin-bottom: 100px;
  }
}


/* ------------------- Main Navigation ---------------------- */

.uk-navbar {
  background: transparent;
  color: #444444;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 2;
  top: 10px;

  .uk-navbar-nav {
    float: right;
  
    li > a {
      font-weight: 600;
      color: #000;
      border-radius: 0 !important;
      background-color: transparent;
      padding: 0;
      margin: 0 12px 0 12px;
      height: 34px;
      font-size: 16px;
    }

    li > a.tickets-button {
      background: $primary-color;
      padding: 0 14px 0 14px;
      color: $white;
      text-shadow: none;
      height: 41px;
      margin-right: 0;
    }
  
    li.uk-active > a {
      border: none;
      border-bottom: 2px solid #45AC5E;
    }
  
    li:hover > a{
      border: none;
      border-bottom: 2px solid #45AC5E;
    }
  }
}