<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="hero">
        <div class="uk-container uk-container-center">
            <div class="uk-width-1-1 uk-text-center">

                <h1> <img src="img/pycaribbean-logo.png" alt=""> <br>PyCaribbean</h1>
                <h2>February 20-21. 2016</h2>
                <h3>
                    Santo Domingo, <br>
                    Dominican Republic
                </h3>

                <a href="http://bit.ly/PyRegister" class="uk-button uk-button-large  button-primary">Register</a>
            </div>
        </div>
    </div>


    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	  <script type="text/javascript" src="js/uikit.min.js"></script>

  </body>

</html>
