<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="inside">

    {% include header.html %}

    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div class="uk-width-medium-5-6 uk-width-large-5-6 page-container">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	  <script type="text/javascript" src="/js/uikit.min.js"></script>

  </body>

</html>
